body {
  color: $text-black;
}

img {
  max-width: 100%;
  height: auto;
}

label {
  margin: 0;
  font-weight: 600;
}

.wrap {
  margin-top: 100px;
  padding-bottom: 70px;
}

.container {
  max-width: $screen-lg-min !important;
}

a {
  color: $blue;
  &:hover, &:focus {
    color: darken($blue, 10%);
  }
}

.btn-primary {
  background-color: $green;
  border-color: $green;
  &:hover, &:focus {
    background-color: darken($green, 10%);
    border-color: darken($green, 10%);
  }
}

a,
button,
img {
  &:focus {
    outline: none;
  }
}

// main content layout
.content {
  position: relative;
  .main {
    max-width: 890px;
    padding-top: 10px;
    .page-header, article header h1.entry-title, .entry-header {
      margin-top: 40px;
    }
    .wp-post-image {
      @media (min-width: $screen-sm-min) {
        //float: right;
        //margin-left: 20px;
      }
    }
  }
}



// GUTENBERG BLOCK STYLES
.wp-block-media-text {
  grid-template-columns: 33% auto;
  align-items: initial;
  margin-bottom: 40px;

  @media (min-width: $screen-sm-min) {
    grid-template-columns: 25% auto;
  }
}

// BANNER IMAGE
.banner-image {
  margin-bottom: 20px;
}

@media (min-width: $screen-sm-min) {
  .wrap {
    margin-top: 110px;
  }
}

@media (min-width: $screen-md-min) {
  .wrap {
    margin-top: 125px;
  }
}