footer.content-info {
  .affiliations {
    max-width: $max-width;
    margin: 0 auto;
    text-align: center;
    padding: 40px 20px;
    h3 {
      padding-top: 20px;
      border-top: 1px $gray solid;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.25rem;
    }
    img {
      width: auto;
    }
    ul {
      max-width: $screen-sm-min;
      list-style: none;
      margin: 0 auto;
      padding: 0;
      @include clearfix;
      li {
        //float: left;
        padding: 20px;
      }
    }
    @media (min-width: $screen-xs-min) {
      img {
        height: 30px;
      }
    }
    @media (min-width: $screen-sm-min) {
      img {
        height: 60px;
      }
    }
  }
  .site-info {
    background-color: $gray;
    padding: 20px 0;
    font-size: 14px;
    color: $white;
    //background-color: $gray;
    a {
      color: $white;
    }

    .logo,
    .contact {
      margin-bottom: 20px;
    }

    .logo {
      img {
        width: 100%;
        max-width: 200px;
      }
    }

    .contact {
      //font-size: 14px;
    }

    .sidebar-navigation {
      width: 100%;
    }

    .footer-nav {
      .menu-footer-menu {
        list-style: none;
        padding: 0;

        li {
          a {
            padding: 5px 0;
          }

          &.alignright {
            float: none;
            margin: 0;
          }
        }
      }
    }

    @media (min-width: $screen-md-min) {
      .footer-nav {
        .menu-footer-menu {
          li {
            //text-align: right;
          }
        }
      }
    }
  }
}
