.page {
  // research list
  .research-list {
    .column {
      padding: 20px 15px;
      margin-bottom: 20px;
      .row {
        margin: 0 auto;
        max-width: $screen-md-min;
        .content {
          .title {
            font-weight: 700;
          }
        }
      }
    }
    @media (min-width: $screen-xs-min) {
      .row {
        .image {
          flex: 0 0 220px;
          padding-right: 20px;
        }
        .content {
          flex: 0 0 calc(100% - 220px);
        }
      }
    }
    @media (min-width: $screen-lg-min) {
      .column {
        //padding: 20px 0;
      }
    }
  }
  // research landing page
  &.research {
    .main {
      max-width: $max-width;
    }
    .page-content {
      width: 100vw;
      margin-left: -15px;
      padding: 0 15px;
      .feature-box {
        padding: 40px 15px;
        background: $green;
        color: $white;
        margin-bottom: 20px;
        .feature-text {
          max-width: $max-width;
          margin: 0 auto;
        }
      }
      .research-list {
        .column {
          background-color: $light-gray;
        }
      }

      @media (min-width: $screen-sm-min) {

      }
      @media (min-width: $screen-lg-min) {
        margin-left: calc((#{$max-width} - 100vw)/2);
        .feature-box {
          padding: 40px 0;
          .feature-text {
            padding-right: 220px;
          }
        }

      }
    }
  }
}

// HOME PAGE
.home {
  .wrap.container {
    max-width: 100% !important;
    padding: 0;
    .main {
      max-width: 100%;
      padding-top: 0;
    }
  }
  .breadcrumbs {
    display: none;
  }
  .home-banner {
    position: relative;
    height: 200px;
    color: $white;
    img.wp-post-image {
      object-fit: cover;
      height: 100%;
    }
    .tagline {
      text-align: center;
      font-size: 2rem;
      line-height: normal;
      font-weight: 700;
      position: absolute;
      top: 50px;
      padding: 0 15px;
    }
  }

  .home-content {
    padding: 15px;
    .info {
      line-height: normal;
      .column {
        //max-width: 400px;
        position: relative;
      }
      .what-we-do, .locations .column {
        padding-bottom: 40px;
      }
      img {
        display: block;
        margin-bottom: 5px;
        height: 60px;
      }
    }
    .btn-primary {
      width: 150px;
      display: block;
      margin-top: 10px;
    }
  }

  .latest-news {
    padding: 30px;
    background-color: $light-gray;
    .container {
      max-width: $screen-md-min !important;
    }
    .row {
      margin-bottom: 20px;
      .column {
        padding-top: 15px;
        background-color: $light-gray;
        img {
          padding-bottom: 5px;
        }
        @media (min-width: $screen-md-min) {
          margin-right: 15px;
          flex: 0 0 calc(33.3333% - 15px);
        }
      }
    }
    .title {
      font-weight: 700;

    }
  }

  .research {
    padding: 0 15px;
    margin: 30px auto;
    max-width: $screen-md-min !important;

  }

  .wrap .banner {
    width: 100vw;
    background-color: $orange;
    color: $white;
    margin: 20px 0 20px calc((100% - 100vw) / 2);
    padding: 20px 0;
    font-weight: 300;
    font-size: 1.2rem;

    h1 {
      font-size: 1.2rem;
      text-transform: uppercase;
    }

    .intro {
      padding: 0;
    }

    p {
      margin: 0;
    }
  }

  @media (min-width: $screen-sm-min) {
    .home-banner {
      height: 450px;
      .tagline {
        padding: 0 calc((100% - #{$screen-sm-min}) / 2);
      }
    }
    .home-content {
      position: absolute;
      top: 100px;
      width: 100%;
      color: $white;
      padding: 0 calc((100% - #{$screen-md-min}) / 2);
      .info {
        font-size: 1.25rem;
        .column {
          .btn {
            position: absolute;
            bottom: 0;
          }
        }
      }
    }
    .latest-news {
      position: relative;
      .row {
        .column {
          margin-top: -100px;
        }
      }
    }
    .wrap .banner {
      padding: 40px;
      font-size: 36px;
      margin: 20px 0 0 calc((100% - 100vw) / 2);
    }
  }
  @media (min-width: $screen-md-min) {
    .home-banner {
      height: 600px;
      .tagline {
        font-size: 2.5rem;
      }
    }
    .home-content {
      top: 175px;
    }
  }
}



.page-template-landing-page {
  @media (min-width: $screen-md-min) {
    .wrap {
      .banner .intro,
      .content {
        width: 83%;
        margin: 0 auto;
      }

      .banner {
        font-size: 1.5rem;

        h1 {
          display: none;
        }

        .intro {
          padding: 0 15px;
        }
      }
    }
  }
}

// ABOUT LIST
.about-list {
  img {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }

  .btn {
    display: block;
    background-color: $light-blue;
    border-radius: 0;
    color: $white;
    border: 0;
    margin-top: 5px;

    &.team {
      background-color: $blue;
    }

    &.partners {
      background-color: $dark-blue;
    }
  }
}

// HOME SLIDER
.wrap.container .home-slider {
  .owl-item {
    .item {
      img {
        height: 250px;
        object-fit: cover;
      }

      .content {
        width: 100%;
        margin: 20px auto;
        color: $blue;
        text-align: center;
        font-size: 16px;
        display: flex;
        align-items: center;
        height: 80px;
      }
    }
  }

  .owl-nav {
    width: 100%;
    position: absolute;
    margin: 0 auto;
    top: 50%;

    button {
      &.owl-prev,
      &.owl-next {
        top: auto;
        bottom: 35px;
        background-repeat: no-repeat;

        &:hover {
          background-color: transparent;
        }
      }
    }

    button.owl-prev {
      //background-image: url(../images/blue_slider_arrow_left.svg);
    }

    button.owl-next {
      //background-image: url(../images/blue_slider_arrow_right.svg);
    }
  }

  @media (max-width: $screen-sm-min) {
    .owl-nav {
      button {
        &.owl-prev,
        &.owl-next {
          height: 30px;
          width: 15px;
        }

        &.owl-prev {
          left: -10px;
        }

        &.owl-next {
          right: -10px;
        }
      }
    }

    .owl-item {
      padding: 0 20px;
    }
  }

  @media (min-width: $screen-sm-min) {
    .owl-item {
      .item {
        img {
          height: 350px;
        }

        .content {
          font-size: 24px;
          height: 120px;
        }
      }
    }
  }

  @media (min-width: $screen-md-min) {
    .owl-item {
      padding: 0 51px;

      .item {
        padding: 0 20px;

        img {
          height: 450px;
        }

        .content {
          width: 80%;
        }
      }
    }
  }
}


// PEOPLE LIST
.people-list {
  .social-contact {
    font-size: 1.2rem;

    a {
      margin-right: 10px;
    }
  }
}

// LAB LIFE LIST
.lab-life-list {
  .row {
    margin-bottom: 20px;
  }
}
